# __pycache__/
# *.py[cod]
# *.pyo
# *.pyd
# *.pyc
# *.pdb
# *.egg-info/
# *.egg
# *.whl
# *.zip
# *.tar.gz
# *.tar.bz2
# *.tar.xz
# *.tar
# venv/
# .venv/
# .env/
# .env.local
# .env.development
# .env.test
# .env.production
#DS_Store
# .DS_Store
# .idea/
# .vscode/
# .pytest_cache/
# .mypy_cache/
# .coverage
# .ipynb_checkpoints
# .ipynb_checkpoints/
